@namespace Text "react-native.Text";

Text|Bounce {
    height: 20px;
    width: 100px;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    border:1px solid red;
}

Text|Bounce:checked {
    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes bounce {
    from {
        transform: translateY(0)
    }
    20% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-30)
    }
    43% {
        transform: translateY(-30)
    }
    53% {
        transform: translateY(0)
    }
    70% {
        transform: translateY(-15)
    }
    80% {
        transform: translateY(0)
    }
    90% {
        transform: translateY(-4)
    }
    to {
        transform: translateY(0)
    }

    /*: this.state.animationValue.interpolate({
    inputRange:  [0, 0.2, 0.4, 0.43, 0.53, 0.7, 0.8, 0.9, 1],
    outputRange: [0, 0,   -30,  -30, 0,   -15,     0, -4, 0],
}),*/
}