@namespace Native "react-native.View";
@namespace Text "react-native.Text";

Native|ViewPort {
    background-color: black;
    height: 25px;
    width: 200px;
    overflow: hidden;
    border-radius: 5px;
}

Native|CylonEye {
    background-color: red;
    height: 25px;
    width: 10px;
    border-radius: 2px;
    animation: 4s linear infinite alternate move_eye;
}

@keyframes move_eye {
    from {
        margin-left: -10px;
    }
    to {
        margin-left: 200px;
    }
}
